<h1>Create a new Pet</h1>

<label>Pet Name:</label>
<br>
<form action='/pets' method="POST">
<input type ="text" name="pet[name]" id="pet_name">
<br><br>

<h3>Existing Owners</h3>
<% @owners.each do |o|%>
<input type="radio" name="pet[owner_id]" id="<%= o.id %>" value="<%= o.id %>"><%= o.name %><br>
<% end %>
<br>

<h3>New Owner</h3>
<input type="text" name="owner[name]" id="owner_name">
<br><br>

<input type="submit" value="Create Pet">
</form>

